.chart {
    flex: 4;
    color: gray;
    margin-top: 2rem;
    padding: 10px;
    border: 1px solid black;
    .title {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .chart__grid {
        stroke: rgb(228, 225, 225);
    }
}